.content {
    width: 500px;
    background-color: #DDD;
    margin-top: 20px;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.content .task {
    background-color: white;
    padding: .5rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}
.content .task .delete {
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: .7rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}
.content .task .delete:is(:hover, :focus) {
    background-color: rgb(209, 12, 12);
}