form {
    display: flex;
    justify-content: center;
    gap: .5rem;
    width: 500px;
    margin-top: 20px;
}
form input {
    border: none;
    outline: none;
    padding: .7rem 1.5rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
form input[type="text"] {
    width: 400px;
}
form input[type="submit"] {
    width: 100px;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}
form input[type="submit"]:is(:hover, :focus) {
    cursor: pointer;
    background-color: #ddd;
}